.post img{background:#fafafa;height:auto;max-width:95%;border:0;margin-bottom:1.5px;transition:all 0.6s ease-out;}
.post img:hover {opacity:0.95;}
h3.post-title, h2.post-title, h1.post-title {margin-top:10px;}
.post-info {font-size:small;text-align:center;background:#fafafa;padding:10px;box-shadow:0 0 0 1px #eee;}

/* CSS Related Posts and Email Subscribe */
#subs-and-redat {margin:0;padding:15px;background:#f2fbd8;border-radius:3px;box-shadow:0 0 0 1px #cdd5b7;}
.kotakleft {background:none;width:44%;margin:0;padding:20px 0;display:block;float:left}
#related-post h4{font-family:&#39;Open Sans&#39;, Arial, sans-serif;font-size:20px;font-weight:700;text-transform:uppercase;color:#949a7f;margin:0 0 15px;margin-top:-15px;}
#related-post li {line-height:1.8em;margin:0;padding:5px 0;}
#related-post ul {list-style:none;margin:0;padding:0;}
#related-post a {font-size:14px;color:#333;}
#related-post a:hover {color:#555;}
#subscribe-css {margin:0;padding:0;float:right;display:block;position:relative;}
.subscribe-wrapper {background:#444;width:260px;height:200px;color:#fff;font-size:14px;font-family:&#39;Open Sans&#39;;line-height:20px;padding:40px 20px 10px 20px;text-align:center;border-radius:3px;}
.subscribe-wrapper p {margin:0;margin-bottom:30px;}
.subscribe-form {clear:both;display:block;margin:10px 0;overflow:hidden;}
form.subscribe-form {clear:both;display:block;margin:10px 0 0;width:auto;overflow:hidden;}
.subscribe-css-email-field {background:#333 url(http://3.bp.blogspot.com/-b2pmxkhM8Is/VLQQ4PPCMMI/AAAAAAAAHO4/AGzYheKVaqs/s1600/sprites.png) no-repeat 1px -27px;color:#fff;margin:0 0 15px;padding:12px 40px;width:100%;border:none;}
.subscribe-css-email-button {background:#f56954;color:#fff;cursor:pointer;font-weight:700;
padding:10px;text-transform:none;width:100%;border:none;font-size:17px;transition:all .5s ease-in;border-radius:3px;transition:all 0.3s ease-out;}
.subscribe-css-email-button:hover {background:#dc5e4b;color:#fff;}

/* CSS Share Button */
.sharepost{overflow:hidden;text-align:center;margin-bottom:20px;margin-top:20px;padding:10px 0;}
.sharepost li{float:left;margin:0 1%;width:18%;padding:0;list-style:none;position:relative;box-shadow:0 0 0 -1px #e3e3e3;}
.sharepost li:hover{box-shadow:4px 4px 0 -1px #e3e3e3;}
.sharepost li a{padding:6px 0 6px 35px;color:#fff;display:block;border-radius:2px;}
.sharepost li a:hover{color:#fff;}
.sharepost li .twitter{background-color:#85c5f5;}
.sharepost li .facebook{background-color:#6381c0;}
.sharepost li .gplus{background-color:#ed6d5d;}
.sharepost li .pinterest{background-color:#e44d52;}
.sharepost li .linkedin{background-color:#2c9ad8;}
.sharepost li .twitter:hover,.sharepost li .facebook:hover,.sharepost li .gplus:hover,
.sharepost li .pinterest:hover,.sharepost li .linkedin:hover{color:#fff;}
.sharepost li:last-child{margin-right:0}
.sharepost li .fa:before{position:absolute;top:0;left:0;display:inline-block;padding:6.5px 12px;font-family:fontawesome;text-align:center;background:#f5f5f5;color:#aaa;line-height:20px;}
.sharepost li .fa {display:initial;}

/* CSS Item Responsive */
@media only screen and (max-width:640px){
#content-wrapper {padding:0;}
#related-post li {list-style:none;overflow:hidden;width:50%;float:left;}
.sharepost li:hover{box-shadow:2px 2px 0 -1px #e3e3e3;}
.sharepost li a{padding:6px 0 6px 0;}
.sharepost li .fa:before{display:none;}
.kotakleft {width:100%;}
#subscribe-css {width:100%;}
.subscribe-wrapper {margin:0 auto;}}

@media screen and (max-width:480px) {
.sharepost li{width:100%}
#related-post li {width:100%;}
.subscribe-wrapper {display:none;}}

@media only screen and (max-width:320px){
h3.post-title:before,h1.post-title:before,h3.post-title:after,h1.post-title:after,h3.post-title:after,h1.post-title:after,#comments .click-comment {visibility:hidden;}
#comments .comment_avatar {width:20px;height:20px;max-width:20px;max-height:20px;background:#fcfcfc;padding:0;text-align:center;position:absolute;top:5px;right:5px;opacity:1;}
#comments .comment_admin .comment_avatar{width:20px;height:20px;max-width:20px;max-height:20px;padding:4px 4px 19px;text-align:center;position:absolute;top:0;right:0;opacity:1;}
#comments .comment_avatar img {width:20px;height:20px;max-width:20px;max-height: 20px;background:#f9f9f9;}
.comment_avatar img{width:20px;height:20px;background:#f9f9f9;}}

@media print {
body{padding:0}
#outer-wrapper {border-right:none;border-left:none;}
#post-wrapper{width:100%;margin:0 auto;}
.post {background:#fff;margin:0 0 15px;padding:15px;box-shadow:none;border:none;}
h1.post-title {border-bottom:none;}
.post blockquote{background:transparent;color:#666;border:none;}
nav,.sharepost,#BackToTop,#search,.breadcrumbs,.halaman,#blog-pager,.banner,#banner,.banner2,#banner2,#sidebar-wrapper,#subs-and-redat,#comments,#footer-wrapper,#header-wrapper,div#banner,div#banner2{opacity:0;display:none;visibility:hidden;width:0;height:0;}
.status-msg-border{border:none;}
.Stats .blind-plate{border-top:none;}}
